doctype
html(lang='en')
    head 
        include includes/header.pug
    body 
        include includes/navbar.pug
        .container 
            .container-fluid.text-center.bg-transparent
                h1.display-3 TestBoard - Commands
                p.lead View the commands for TestBoard!
                hr

            section#commands 
                .row.px-4
                    .col-sm-3.border
                        p 3 
                    .col-sm-9.border 
                        p 9
