doctype
html(lang='en')
    head 
        include includes/header.pug

        link(rel='stylesheet', href='/css/index.css')
    body 
        include includes/navbar.pug
        .container-fluid.text-center.vert.bg-transparent
            h1.display-3 TestBoard
            p.lead A dashboard website made to learn the basics!
                i.fa-solid.fa-browser.ps-2
            button.btn.btn-dark Add
